@font-face {
  font-family: Display;
  src: url(/src/assets/fonts/Bugar.ttf);
}

@font-face {
  font-family: Display2;
  src: url(/src/assets/fonts/Exoplane.ttf);
}

@font-face {
  font-family: Main;
  src: url(/src/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Logo;
  src: url(/src/assets/fonts/Crop\ Crap.ttf);
}

.font-display{
  font-family: Display, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-display-2{
  font-family: Display2, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-main{
  font-family: Main, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-logo{
  font-family: Logo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-outline-black{
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.font-outline-gray{
  -webkit-text-stroke: 2px rgb(69, 72, 81);
}

.font-outline-slate{
  -webkit-text-stroke: 2px rgb(50, 63, 79);
}

.font-outline-emerald{
  -webkit-text-stroke: 1px rgba(0, 189, 107, 0.998);
}

.grid-rows-10{
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

.letter-spacing{
  letter-spacing: 2px;
}

.logo-font-size{
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.grid-leagues-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}